// COLORS
:root {
  --main-dark-text-color: #2F2B20;
  --main-light-text-color: #DEDFE1;
  --white: #fff;
  --light-gray: #b8b8b8;
  --gray: #595552;
  --yellow: #EDC643;
  --dark-background: #202530;
  --dark-links: #4B566F;
}
