// SINGLE POST SITE
.post-template-default{
  background-color: var(--dark-background);
  .header{
    position: relative;
    background: none;
    height: auto;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .single-post{
    // TOP SECTION - POST TITLE, BACK TO HOME
    &__menu{
      position: relative;
      justify-content: space-between;
      align-items: flex-end;
      z-index: 6;
      &__title{
        @include fontTitles(700, 3.57rem, var(--dark-links));
        letter-spacing: -6px;
        text-transform: uppercase;
      }
      a{
        @include fontTitles(400, 2.12rem, var(--dark-links));
        letter-spacing: -3.4px;
        &:hover{
          color: var(--white);
        }
      }
    }
  }
  // CONTACT SECTION
  .contact{
    margin: 40px 0;
    @include fontTitles(400, 2.89rem, var(--dark-links));
    &__mail{
      margin-top: 10px;
      line-height: 2.33rem;
      letter-spacing: -3.4px;
      p{
        cursor: pointer;
        &:hover{
          color: var(--white);
        }
      }
    }
    &__social{
      align-items: flex-start;
      ul{
        align-self: flex-start;
        margin: 0;
        list-style: none;
        text-align: right;
        li{
          margin-bottom: -26px;
          letter-spacing: -3.4px;
          a{
            color: var(--dark-links);
            &:hover{
              color: var(--white);
            }
          }
        }
      }
    }
  }
}

@include responsive(phone){
.post-template-default{
  .single-post{
    &__menu{
      justify-content: space-between;
      align-items: flex-end;
      &__title{
        @include fontTitles(700, 1.4rem, var(--dark-links));
        letter-spacing: -2px;
        text-transform: uppercase;
      }
      a{
      @include fontTitles(400, 1rem, var(--dark-links));
      letter-spacing: -1px;
      padding-bottom: 6px;
      }
    }
  }
  .contact{
    margin: 20px 0;
    @include fontTitles(400, 1.4rem, var(--dark-links));
    &__mail{
      line-height: 10px;
      letter-spacing: -2px;
    }
    &__social{
      ul{
        li{
          margin-bottom: -10px;
          letter-spacing: -2px;
          a{
            color: var(--dark-links);
            &:hover{
              color: var(--white);
            }
          }
        }
      }
    }
  }
}
}
